body {
    background-image: linear-gradient(rgb(255,255,255), rgb(197, 218, 228),rgb(69, 100, 118));
}

h1, h4 {
    color: teal;
    text-align: center;
    margin-top: 50PX;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#btn1, #btn2 {
    background-color: teal;
    color: white;
    font-size: 20px;
    padding: 15px;
    margin-top: 50px ;
    border-radius: 20px;
    border: 2px solid teal;
}

/* game*/

h2 {
    color: orange;
    text-align: center;
    margin-top: 100px;
}
#btn3, #btn4 {
    background-color: orange;
    color: white;
    font-size: 24px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid orange;
    margin: 110px 0;
}

/*modal*/

#modal {
    display: none;
}
h3 {
    color: orange;
    font-weight: bolder;
    font-family: 26px;
    margin-left: 150px;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}